---
interface Frontmatter {
  title: string;
  tags: string;
}
const allPosts = await Astro.glob<Frontmatter>("../blog/*.md");
const tags = allPosts.map((post) => post.frontmatter.tags);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>タグページ</h1>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
